* {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  nav {
    display:flex;
    justify-content:space-between;
    align-self:center;  
    color:#191A19;
    padding-left:10px;
    padding-right:10px;
    border: 1px solid #000000;
    background-color: #6e6e6e;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #000000;
}
nav div{
    display:flex;
    align-self:center;
}
div.loginbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
    width: 400px;
    height: 450px;
    background-color: #6e6e6e;
    text-align: center;
    border-radius: 20px;
}
div > h4, h5 {
    margin: 0;
}
p1 {
    display: block;
    margin-top: 30px;
}
form > input {
    display: block;
    width: fit-content;
    height: 40px;
}
div > h4, p1 {
    color: rgb(75, 234, 255);
}
.btn {
    height: 40px;
    width: 60px;
    background-color: rgb(0, 82, 175);
    color: rgb(255, 255, 255);
}
.btn:hover {
    background-color: #000c74;
}
.hover:hover {
    color: #120079;
}
@media screen and (max-width: 400px) {
    div.loginbox {
        width: auto;
        height: 500px;
    }
}
h2:hover {
    color: #ffffff;
}